<!-- ##################PROJECTS(one) ###################### -->


<!-- CURRENT PROJECT(SHOW)
 --><container><div class="cool">
  
  <h1> Current Project </h1></div><hr>
  <h3> Project title </h3>
  <%=@project.title%><br>

  <h3>Project body </h3>
  <%=@project.body%><br><hr>
  <%=link_to "Edit this project", 
              edit_project_path, 
              class: "btn btn-default cool"%>
  <%=link_to "Delete this project", 
              project_path, method: :delete, data: 
              {confirm: "Are you Sure?"},
              class: "btn btn-default cool" %>
  <%=link_to "Like this project", 
              project_likes_path(@project),   
              method: :post, 
              class: "btn btn-default cool"%>
(<%=@project.likes.count%>)<hr><hr>

<!-- ##################TASKS(many)########################## -->



<!-- tasks INDEX -->
  <div class="cool">
  <h1> Current Tasks </h1></div><hr>

  <div id="taskcontainer" >
    <%= render partial: "/tasks/task", collection: @tasks %>
    <%# @tasks.each do |task| %>  
    <%#= render partial: "/tasks/task", locals: { task } %>
    <%end%><hr>
  </div>

<!-- task NEW -->

<h4> Create a new task for this project </h4>

  <div class ="form-field">
  <%=form_for @task, 
  url: project_tasks_path(@project), remote: true do |x| %>
        <%=x.label :title%>
        <%=x.text_area :title, class:"form-control" %><br>
        <%=x.label :body %>
        <%=x.text_area :body, class:"form-control" %><br>
        <%=x.submit class: "btn btn-default changed"%>
  </div>


<%#= button_to() ,method: post %>

</container>
<%end%> 





